/*
 *  Imports
 *  Libraries
 *  General
 *  Nav
 *  Header/Home
 *  Education/Work
 *  Skills
 *  Projects
 *  Contact
 *  Footer
 * // MOBILE
 */

/*
  Imports           ----------------------------------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500&family=Raleway:wght@100;200;300&display=swap');

@font-face {
  font-family: 'TheScientist';
  src: url('../fonts/TheScientist.ttf');
}

.material-icons {
  font-size: 12px;
}

/*
 * Libraries        ----------------------------------------------------------------------------------------------------
 */
img.emoji {
  /* Since we are using SVGs, you have to change the width using CSS */
  width:1.5em;
  margin-bottom: -7.5px;

  /*
  This is to make the emojis feel like actual emojis to
  the user and they won't act like images. This makes the emojis
  non-reactive to any mouse events such as dragging,
  hovering, clicking etc. Makes it feel like its actual text.
  */
  pointer-events: none;
}

/*
 * General          ----------------------------------------------------------------------------------------------------
 */
:root {
  --primary: #111415;
  --secondary: #161A1B;
  --accent: #0f1011;
  --primary-color: #7F97A1;
  --secondary-color: #53646a;
  --link-color: #7F97A1;
  --link-color-hover: #c6d3d7;
}

html, body {
  width: 100%;
  margin: 0;
  color: var(--primary-color);
  background: linear-gradient(30deg, var(--secondary) 0%, var(--accent) 100%);
  font-family: Raleway;
  font-size: 18px;
  letter-spacing: 1px;
}

body {
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary);
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

a svg:hover, nav li:hover {
  color: var(--link-color-hover);
}

img {
  pointer-events: none;
}

hr {
  width: 50%;
  margin: auto;
  border: 1px solid var(--accent);
  border-radius: 5px;
  height: 1px;
  background: var(--accent);
}

header, section {
  height: 100vh;
  scroll-snap-align: start;
}

section {
  padding: 5% 7.5%;
}

section h3 {
  font-size: 3.5em;
  text-align: right;
  letter-spacing: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

/*
 * Nav / Menu             ----------------------------------------------------------------------------------------------
*/
nav {
  position: fixed;
  top: 5vh;
  left: 5vh;
  display: flex;
  padding: 0px 100px 0px 25px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  list-style: none;
  font-size: 28px;
  opacity: 0.75;
  letter-spacing: 5px;
  z-index: 9999;
}

#navLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.smallMenu {
  background: var(--primary);
  padding: 20px 0;
  top: 0;
  left: 0;
  flex-direction: row;
  height: auto;
  width: 100%;
}

.smallMenu #navLinks {
  flex-direction: row;
}

#menuIcon {
  display: none;
  margin-right: 50px;
}

.material-icons-round {
  font-size: 40px;
}

/*
 * Header           ----------------------------------------------------------------------------------------------------
*/

header {
  background: var(--primary);
  background: linear-gradient(45deg, var(--secondary) 25%, var(--accent) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h2 {
  color: var(--secondary-color);
}

header #headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header #headerAvatar {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 7.5px solid var(--accent);
  background-color: #313b3d;
  background-image: url("../images/header/daniel.svg");
  background-size: 350px 350px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.links svg {
  width: 50px;
}

/*
 *  About           ----------------------------------------------------------------------------------------------------
 */
#about {
  height: auto;
}

#infoContainer {
  width: 75%;
  margin: auto;
}

.infoList {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}


.infoList div {

}

.infoList h2, .infoList p {
  margin: 0;
}

.infoList h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.infoList p {
  font-size: 22px;
  margin-top: 10px;
}

.infoList a {
  color: white;
}

.infoList a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.infoItem {
  padding: 15px;
  min-width: 50%;
}

#hobbies {
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  width: 80%;
}

.hobby {
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 25px;
  border: 2px solid rgba(104, 225, 167, 1);
  background: rgba(104, 225, 167, .5);
  color: white;
  cursor: default;
}

.hobby:hover {
  background: rgba(104, 225, 167, .75);
}

.hobbyWork {
  border: 2px solid rgba(104, 225, 167, 1);
  background: rgba(104, 225, 167, .5);
}

.hobbyWork:hover {
  background: rgba(104, 225, 167, .75);
}

.hobbyFreetime {
  border: 2px solid rgba(67, 124, 224, 1);
  background: rgba(67, 124, 224, .5);
}

.hobbyFreetime:hover {
  background: rgba(67, 124, 224, .75);
}

.hobbyCulture {
  border: 2px solid rgba(229, 159, 48, 1);
  background: rgba(229, 159, 48, .5);
}

.hobbyCulture:hover {
  background: rgba(229, 159, 48, .75);
}

.hobbyOther {
  border: 2px solid rgba(163, 48, 229, 1);
  background: rgba(163, 48, 229, .5);
}

.hobbyOther:hover {
  background: rgba(163, 48, 229, .75);
}

.hobbyLike {
  border: 2px solid rgba(221, 68, 68, 1);
  background: rgba(221, 68, 68, .5);
}

.hobbyLike:hover {
  background: rgba(221, 68, 68, .75);
}

.hobby img.emoji {
  height: 18px;
  margin-bottom: -2.5px;
}

/*
 *  Education/Work  ----------------------------------------------------------------------------------------------------
 */
#education {
  height: fit-content;
  margin-bottom: 100px;
  font-size: 16px;
}

#educationList {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.educationItem {
  display: flex;
}

.educationItemIcon {
  color: var(--secondary-color);
  padding: 50px;
  background: var(--primary);
  border: 5px solid var(--secondary-color);
  border-radius: 150px;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  z-index: 9;
}

.educationItemIcon .emoji {
  font-size: 36px;
}

.educationItemDesc {
}

.educationItemDesc h2 {
  margin-top: 0;
}

.educationItemDesc h4 {
  margin: 10px 0;
}

.educationConnector {
  width: 80px;
  min-height: 250px;
  height: max-content;
  border-right: 2px solid var(--secondary-color);
  margin-bottom: -150px;
  z-index: 0;
}

#educationConnectorFuture {
  border-right-style: dashed;
}

/*
 *  Projects        ----------------------------------------------------------------------------------------------------
 */
#projects {
  height: fit-content;
  margin-bottom: 100px;
  line-height: 28px;
}

#projects h4 {
  font-size: 2em;
}

#projects .projectList {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
#projects .projectItem {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#projects .projectItem:hover {
  background-color: #0F1011;
}

#projects .projectIcon {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: var(--primary);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px solid var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

#projects #soloProjectList .projectItem {
}

#projects #soloProjectList .projectIcon {
  background-size: 175px 175px, 250px 250px;
}

/*
 *  Skills          ----------------------------------------------------------------------------------------------------
 */
#skills {
  height: fit-content;
  margin-bottom: 100px;
  line-height: 28px;
}

#skillLists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.skillSectionTitle {
  font-size: 2.5em;
  letter-spacing: normal;
  text-align: left;
  margin-top: 100px;
}

.skillSectionTitle:first-child {
  margin-top: 0;
}

.skillList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skillListItem {
  margin-bottom: 25px;
}

.skillListItem svg {
  width: 100px;
}

.skillListItem svg text {
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.skillList h4 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 10px;
  line-height: 40px;
}

.skillListCategory {
  background-color: var(--primary);
  padding: 25px;
  border: 5px solid var(--accent);
  border-radius: 15px;
  width: 45%;
}

#skillListContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  min-height: 400px;
  padding: 0 32px;
}

#skillListContainer .skillListCategory {
  width: 100%;
}
#skillListContainer .skillListCategory:nth-child(2) {
  margin-top: 25px;
}

#skillListLanguages .skillListItem {
  width: 25%;
}

#skillListLanguages img.emoji{
  margin-bottom: -15px;
}

#skillListLanguages .percBar {
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
}

.percBg {
  width: 100%;
  height: 10px;
  background: #dadada;
  border-radius: 10px;
}

.percBar {
  padding: 5px 0;
  border-radius: 10px;
  background: #41c988;
  background: linear-gradient(45deg, #5DBEFF -25%, #72FF5D 100%);
  width: 0;
  text-align: right;
}

.percBar div {
  font-size: 15px;
  color: white;
  margin-bottom: -50px;
}

#readMore {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#readMore hr {
  width: 35%;
}

#readMore a {
  font-size: 24px;
  padding: 15px 25px;
  color: white;
  background: var(--accent);
}

#readMore a:hover {
  background: var(--primary);;
}


/*
 *  Contact         ----------------------------------------------------------------------------------------------------
 */
#contact {
  height: auto;
}

#contact #form-container {
  display: flex;
  justify-content: center;
}

#contact form {
  width: 50%;
  display: flex;
  flex-flow: column;
}

#contact .input-title {
  margin: 30px 0 15px 0px;
}

#contact .form-input {
  width: 100%;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--primary-color);
  font-size: 18px;
  letter-spacing: .75px;
  border: 0;
  outline: none;
  padding: 1rem;
}

#contact #message {
  height: 250px;
  resize: none;
  line-height: 24px;
  padding: 1rem;
 }

#sendButton {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 1rem;
}

#contact .btn {
  width: 125px;
  color: var(--primary);
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  text-transform: uppercase;
}

#contact .btn:hover {
  background-color: var(--primary);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

#contactFormStatus {
  margin-top: 50px;
}

/*
 * Footer           ----------------------------------------------------------------------------------------------------
*/
footer {
  padding: 50px 5%;
  background: var(--accent);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.footerRow {
  width: 100%;
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bottomFooter {
  color: var(--primary-color);
  font-size: 14px;
}

#footerCredits {
  font-size: 12px;
}

#signature {
  font-family: TheScientist;
  font-size: 36px;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  color: white;
}

footer .links {
  margin-top: 0;
  align-items: center;
}

footer .links svg {
  padding: 0 15px;
  color: white;
}

footer .links svg:hover {
  color: var(--link-color-hover);
}

/*----------------------------------------------------------------------------------------------------
 * Mobile
----------------------------------------------------------------------------------------------------*/

/*-------------------*/
@media only screen and (max-width: 1500px) {
  .mobileMenu {
    background: var(--primary);
    box-shadow: 2px 2px 5px var(--accent);
    opacity: .9;
    padding: 20px;
    top: 0;
    left: 0;
    flex-direction: row;
    height: auto;
    width: 100%;
    flex-direction: column;
  }

  .mobileMenu #menuIcon:first-child {
    align-self: flex-end;
  }

  #navLinks {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }

  .navLink {
    margin-top: 5px
  }

  #menuIcon {
    display: inline;
  }

  #skills .skillSectionTitle {
    line-height: 50px;
    text-align: center;
  }

  #skillListLanguages {
    flex-flow: column;
  }

  #skillListLanguages .skillListItem {
    width: 100%;
  }

  #skillListProgramming .skillListCategory {
    width: 100%;
  }

  #skillListProgramming #skillListContainer {
    width: 100%;
  }

  #skillListProgramming #skillListContainer .skillListCategory {
    margin-top: 25px;
  }

  #contact form {
    width: 80%;
  }
}

/*-------------------*/
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  section h3 {
    font-size: 3em;
  }
}

/*-------------------*/
@media only screen and (max-width: 950px) {
  section h3 {
    font-size: 2.5em;
    text-align: center;
  }

  #infoContainer {
    width: 100%;
  }

  .infoList {
    flex-flow: column;
  }

  #hobbies {
    width: 100%;
  }

  .projectList {
    flex-flow: column;
  }

  #readMore hr {
    width: 20%;
  }

  #contact form {
     width: 70%;
   }

  #sendButton {
    justify-content: space-between;
    flex-flow: column;
    height: 150px;
  }

  #sendButton input, #sendButton div {
    align-self: center;
  }

  footer {
    height: 25vh;
    justify-content: space-evenly;
  }

  .footerRow {
    flex-flow: column;
    justify-content: space-evenly;
  }

  footer .links {
    height: 100px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  footer .links svg {
    width: 50px;
  }

  #footerCopyright {
    margin: 10px 0;
  }
}

/*-------------------*/
@media (orientation: landscape) and (max-width: 850px) {
}

/*-------------------*/
@media only screen and (max-width: 580px) {
  section h3 {
    font-size: 2em;
    text-wrap: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .educationItem {
    flex-direction: column;
    border-bottom: 1px solid var(--secondary-color);
  }

  .educationItem:first-child {
    border-bottom-style: dashed;
  }

  .educationItemIcon {
    align-self: center;
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .educationConnector {
    display: none;
  }
}

/*-------------------*/
@media only screen and (min-width: 500px) {

}

/*-------------------*/
@media only screen and (max-width: 480px) {

}

/*-------------------*/
@media only screen and (max-width: 360px) {

}

/*-------------------*/
@media only screen and (max-width: 320px) {

}