.projectHeader {
}

.projectHeader h1 {
  font-size: 4em;
  letter-spacing: 10px;
  margin-bottom: 0;
}

header #headerProjectLogo {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 7.5px solid var(--accent);
  background-repeat: no-repeat;
}

section {
  min-height: 100vh;
  height: auto;
}

section hr {
  margin: 100px auto;
}

section a {
  color: white;
}

section a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.projectCategories {
}

.projectCategory {
  width: 80%;
  margin: auto;
}

.projectCategory h4 {
  font-size: 56px;
  margin-bottom: 15px;
  margin-top: 150px;
}

.projectCategory .projectItem h4 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.projectList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.projectItem {
  margin-bottom: 25px;
}

#project .appIcon {
  height: 40px;
  margin-bottom: -10px;
  border-radius: 10px;
}

.projectItem ul {
  margin: 5px;
  list-style-type: circle;
}

.projectItem li {
  padding: 5px;
}

.projectItem hr {
  margin: 100px auto;
}

.projectPreviewTitle {
  font-size: 20px !important;
}

.projectPreviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projectPreviews img {
  width: 20%;
  border-radius: 5px;
}

.projectPreview {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.projectPreview img {
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 100%;
}

.projectPreviewDesc {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

#mockups img {
  width: 80%;
}

/*----------------------------------------------------------------------------------------------------
 * Mobile
----------------------------------------------------------------------------------------------------*/

/*-------------------*/
@media only screen and (max-width: 950px) {
  .projectHeader h1 {
    font-size: 1.5em;
    padding: 0 5px;
  }

  .projectCategory h4 {
    font-size: 24px;
  }

  .projectList h4 {
    font-size: 32px;
  }

  .projectItem h4:first-child {
    font-size: 24px !important;
  }

  .projectPreviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .projectPreviews img {
    width: 100%;
    margin-bottom: 25px;
  }
  .projectPreview img {
    height: auto;
    width: 100%;
  }

  .projectPreviewTitle {
    font-size: 20px !important;
  }

  #mockups img {
    width: 100%;
  }
}