.projectHeader {
}

.projectHeader h1 {
  font-size: 4em;
  letter-spacing: 10px;
  margin-bottom: 0;
}

header #headerProjectLogo {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 7.5px solid var(--accent);
  background-repeat: no-repeat;
}

section {
  height: auto;
}

#project a {
  color: white;
}

#project a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

.projectCategories {
}

.projectCategory {
  width: 80%;
  margin: auto;
}

.projectCategory h4 {
  font-size: 40px;
  margin-bottom: 15px;
}

.projectCategory .projectItem h4 {
  font-size: 30px;
  margin-bottom: 15px;
}

.projectList {
  display: flex;
  flex-flow: column;
}

.projectItem {
  margin-bottom: 25px;
}

#project .appIcon {
  height: 40px;
  margin-bottom: -10px;
  border-radius: 10px;
}

.projectItem ul {
  margin: 5px;
  list-style-type: circle;
}

.projectItem li {
  padding: 5px;
}

.projectPreviewTitle {
  font-size: 20px !important;
}

.projectPreviews {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.projectPreviews img {
  width: 20%;
  border-radius: 5px;
}

.projectPreview {
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.projectPreview img {
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 100%;
}

.projectPreviewDesc {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

/*----------------------------------------------------------------------------------------------------
 * Mobile
----------------------------------------------------------------------------------------------------*/

/*-------------------*/
@media only screen and (max-width: 950px) {
  .projectHeader h1 {
    font-size: 2em;
  }

  .projectPreviews {
    flex-flow: column;
    justify-content: space-between;
  }
  .projectPreviews img {
    width: 100%;
    margin-bottom: 25px;
  }
  .projectPreview img {
    height: auto;
    width: 100%;
  }
}