<nav id="menu" class="mobileMenu">
  <a href="javascript:void(0);" id="menuIcon" onclick="toggleMenu()">
    <span class="material-icons-round">menu</span>
  </a>

  <div id="navLinks">
    <a href="https://fischerdani.com/#home" class="navLink">
      <li>Home</li>
    </a>

    <a href="https://fischerdani.com/#about" class="navLink">
      <li>About me</li>
    </a>

    <a href="https://fischerdani.com/#portfolio" class="navLink">
      <li>Portfolio</li>
    </a>

    <a href="https://fischerdani.com/#skills" class="navLink">
      <li>Skills</li>
    </a>
  </div>
</nav>